@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

.user-card {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -20px;
    background-color: #aaaaaa;
    border-radius: 10px;
    width: fit-content;
    overflow: hidden;
    cursor: default;
}

.user-picture {
    margin: 7px 20px 0px 5px;
    /* margin-right: 20px;
    margin-top: 7px; */
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.user-info {
    background-color: #505050;
    color: #fff;
    padding: 5px;
    margin-block: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.user-info-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.user-info-item {
    display: inline-block;
    text-align: center;
    /* text-decoration: none;
    color: #fff; */
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 15px;
    width: 174px;
}

.completeName {
    display: flex;
    margin: 5px 10px;
    gap: 10px;
}

.username {
    text-align: center;
    margin-right: 20px;
    margin-left: 5px;
}

.user-table {
    border-collapse: collapse;
    padding-block: 5px;
}

.user-table td, .user-table th {
    border: none;
    padding-inline: 20px; 
    padding-block: 7px;
    font-weight: 600;
}

/* Style alternatif pour les lignes impaires et paires */
.user-table tr:nth-child(odd) {
    background: linear-gradient(45deg, #3498db, #e74c3c);
}
.user-table tr:nth-child(even) {
    background: linear-gradient(45deg, #e74c3c, #3498db);
}

.UD-btn {
    margin-left: 17px;
}

.material-symbols-outlined {
    transition: 0.5s;
}
.material-symbols-outlined:hover {
    transform: scale(1.2);
}

.user-role-checkbox {
    display: inline-block;
}

.user-role-box {
    display: inline-block;
    cursor: default;
    border: 1px solid #000;
    align-content: center;
    border-radius: 7px;
    padding-inline: 5px;
}

.edit-btn {
    text-decoration: none;
    color: #000;
}

.delete-btn {
    text-decoration: none;
    color: #000;
}

.update-btn {
    text-align: center;
    color: #007bff;
    font-size: 16px;
    padding-inline: 5px;
    margin-block: 15px;
}

/* =============== MOBILE VERSION ===================== */

@media screen and (max-width: 375px) {
    
    /*================ REFERENCE =================*/

    

    /*================ REFERENCE =================*/

    
    /*================ REFERENCE =================*/

    

    /*================ REFERENCE =================*/

    
}

@media screen and (min-width: 375px) and (max-width: 430px) {
    

    /*================ REFERENCE =================*/

    

    /*================ REFERENCE =================*/

    
    /*================ REFERENCE =================*/

    

    /*================ REFERENCE =================*/

    
}

@media screen and (min-width: 430px) and (max-width: 667px) {
    

    /*================ REFERENCE =================*/

    

    /*================ REFERENCE =================*/

    
    /*================ REFERENCE =================*/

    

    /*================ REFERENCE =================*/

    
}

@media screen and (min-width: 667px) and (max-width: 768px) {
    

    /*================ REFERENCE =================*/

    

    /*================ REFERENCE =================*/

    
    /*================ REFERENCE =================*/

    

    /*================ REFERENCE =================*/

    
}

@media screen and (min-width: 768px) and (max-width: 820px) {
    

    /*================ REFERENCE =================*/

    

    /*================ REFERENCE =================*/

    
    /*================ REFERENCE =================*/

    

    /*================ REFERENCE =================*/

    
}

@media screen and (min-width: 820px) and (max-width: 1024px) {
    

    /*================ REFERENCE =================*/

    

    /*================ REFERENCE =================*/

    
    /*================ REFERENCE =================*/

    

    /*================ REFERENCE =================*/

    
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    

    /*================ REFERENCE =================*/

    

    /*================ REFERENCE =================*/

    
    /*================ REFERENCE =================*/

    

    /*================ REFERENCE =================*/

    
}